filter-header-bar {
    font-family: $font-family-primary;
    .filter-wrap {
        padding: 45px 0;
        max-width: 1300px;
        margin: auto;
        @extend %danzerpress-flex-row;
        justify-content: space-between;

        @media screen and (max-width: 1024px) {
            display: flex;
            padding: 0;
            .filter-label {
                display: none;
            }
            .active:after {
                display: none;
            }
            .views {
                order: -1;
                flex: 0 0 100%;
                div {
                    flex: 0 0 50%;
                    max-width: 50%;
                    margin: 0;
                    text-align: center;
                    border-top: 0.25px solid #8390A2;
                    padding: 15px 0;
                }
            }
            .filters {
                flex: 0 0 100%;
                box-shadow: 0px 3px 6px #000000;
                div {
                    flex: 0 0 33.3333%;
                    margin: 0;
                    text-align: center;
                    padding: 12px 0;
                    &:after {
                        height: 100%;
                        content: "";
                        width: 1px;
                        background: #8390A2;
                        position: absolute;
                        top: 50%;
                        right: 0;
                        max-height: 50%;
                        transform: translate(0%, -50%);
                    }
                }
            }
        }
    }
    .filters,
    .views {
        @extend %danzerpress-flex-row;
        span, div {
            font-size: 20px;
            transition: .2s;
        }
        span {
            margin-right: 28px;
            color: #7C8388;
        }
        div {
            position: relative;
            color: #B4BFC8;
            margin-right: 40px;
            text-transform: uppercase;
            font-weight: 500;
            cursor: pointer;
            &.active {
                color: #11284A;
                &:after {
                    content: "";
                    width: 100%;
                    height: 2px;
                    background: black;
                    position: absolute;
                    bottom: -3px;
                    left: 0;
                    max-width: 40px;
                }
            }
        }

        .filter-label-icon {
            margin-right: 16px;
            opacity: 0.4;
            transition: .5s;
            &.active {
                opacity: 1;
            }
            &.map,
            &.grid {
                &:before {
                    content: "";
                    height: 26px;
                    display: block;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }
            &.map {
                &:before {
                    width: 20px;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23.824' height='32.622' viewBox='0 0 23.824 32.622'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:none;stroke:%23233853;stroke-linecap:round;stroke-linejoin:round;stroke-width:2.433px;%7D%3C/style%3E%3C/defs%3E%3Cg transform='translate(-137.284 -133.946)'%3E%3Cpath class='a' d='M149.2,135.163a10.7,10.7,0,0,1,10.7,10.7,11.237,11.237,0,0,1-1.725,5.826c-2.376,3.933-8.97,13.666-8.97,13.666s-6.6-9.733-8.973-13.666a11.236,11.236,0,0,1-1.724-5.826,10.7,10.7,0,0,1,10.7-10.7'/%3E%3Ccircle class='a' cx='4.795' cy='4.795' r='4.795' transform='translate(144.402 141.037)'/%3E%3C/g%3E%3C/svg%3E");
                }
            }
            &.grid {
                &:before {
                    width: 28px;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36.943' height='32.438' viewBox='0 0 36.943 32.438'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:none;stroke:%23233853;stroke-linecap:round;stroke-linejoin:round;stroke-width:2.433px;%7D%3C/style%3E%3C/defs%3E%3Cg transform='translate(-498.442 -912.43)'%3E%3Ccircle class='a' cx='2.838' cy='2.838' r='2.838' transform='translate(499.659 913.646)'/%3E%3Ccircle class='a' cx='2.838' cy='2.838' r='2.838' transform='translate(499.659 925.81)'/%3E%3Ccircle class='a' cx='2.838' cy='2.838' r='2.838' transform='translate(499.659 937.974)'/%3E%3Ccircle class='a' cx='2.838' cy='2.838' r='2.838' transform='translate(514.076 913.646)'/%3E%3Ccircle class='a' cx='2.838' cy='2.838' r='2.838' transform='translate(514.076 925.81)'/%3E%3Ccircle class='a' cx='2.838' cy='2.838' r='2.838' transform='translate(514.076 937.974)'/%3E%3Ccircle class='a' cx='2.838' cy='2.838' r='2.838' transform='translate(528.494 913.646)'/%3E%3Ccircle class='a' cx='2.838' cy='2.838' r='2.838' transform='translate(528.494 925.81)'/%3E%3Ccircle class='a' cx='2.838' cy='2.838' r='2.838' transform='translate(528.494 937.974)'/%3E%3C/g%3E%3C/svg%3E");
                }
            }
        }
    }
    .views {
        @extend %danzerpress-flex-row;
    }
}
