filter-header-bar {
    font-family: $font-family-primary;
    .filter-wrap {
        padding: 45px 0;
        max-width: 1300px;
        margin: auto;
        @extend %danzerpress-flex-row;
        justify-content: space-between;

        @media screen and (max-width: 1024px) {
            display: flex;
            padding: 0;
            .filter-label {
                display: none;
            }
            .active:after {
                display: none;
            }
            .views {
                order: -1;
                flex: 0 0 100%;
                div {
                    flex: 0 0 50%;
                    max-width: 50%;
                    margin: 0;
                    text-align: center;
                    border-top: 0.25px solid #8390A2;
                    padding: 15px 0;
                }
            }
            .filters {
                flex: 0 0 100%;
                box-shadow: 0px 3px 6px #000000;
                div {
                    flex: 0 0 33.3333%;
                    margin: 0;
                    text-align: center;
                    padding: 12px 0;
                    &:after {
                        height: 100%;
                        content: "";
                        width: 1px;
                        background: #8390A2;
                        position: absolute;
                        top: 50%;
                        right: 0;
                        max-height: 50%;
                        transform: translate(0%, -50%);
                    }
                }
            }
        }
    }
    .filters,
    .views {
        @extend %danzerpress-flex-row;
        span, div {
            font-size: 20px;
            transition: .2s;
        }
        span {
            margin-right: 28px;
            color: #7C8388;
        }
        div {
            position: relative;
            color: #B4BFC8;
            margin-right: 40px;
            text-transform: uppercase;
            font-weight: 500;
            cursor: pointer;
            &.active {
                color: #11284A;
                &:after {
                    content: "";
                    width: 100%;
                    height: 2px;
                    background: black;
                    position: absolute;
                    bottom: -3px;
                    left: 0;
                    max-width: 40px;
                }
            }
        }
    }
    .views {
        @extend %danzerpress-flex-row;
    }
}
