.property-info-bar-wrap {
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.property-info-bar {
    padding: 30px 80px;
    background: $primary-color 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.23);

    @media screen and (max-width: 950px) {
        padding: 30px 40px;
    }

    .property-count-wrap {
        //@media screen and (max-width: 1300px) {
        //    display: none;
        //}
    }

    .property-info-stats {
        font: 600 Italic 24px/32px Roboto;
        letter-spacing: 1.44px;
        color: #B4BFC8;
        opacity: 1;

        display: flex;
        align-items: center;

        @media screen and (max-width: 950px) {
            flex-direction: column;
            letter-spacing: 1.44px;
            font: 700 Italic 12px/16px Roboto;
            letter-spacing: 0.72px;
        }
    }

    .property-info-stats,
    .property-info-header {
        text-transform: uppercase;
    }

    .property-info-header {
        text-align: left;
        font: Bold Italic 24px/32px Roboto;
        letter-spacing: 1.44px;
        color: #FFFFFF;
        opacity: 1;

        @media screen and (max-width: 950px) {
          flex-direction: column;
          letter-spacing: 1.44px;
          font: Bold Italic 12px/16px Roboto;
          letter-spacing: 0.72px;
      }
    }

    .property-info-subheader {
        text-align: left;
        font: 400 20px/26px Roboto;
        letter-spacing: 1.2px;
        color: #FFFFFF;
        opacity: 1;

        @media screen and (max-width: 950px) {
          flex-direction: column;
          letter-spacing: 1.44px;
          font: 400 10px/13px Roboto;
          letter-spacing: 0.72px;
      }
    }

    .number-wrap {
        font: 400 74px/90px Roboto;
        letter-spacing: 4.44px;
        color: #FFFFFF;
        opacity: 1;
        margin-right: 10px;

        @media screen and (max-width: 950px) {
            font: 500 24px/90px Roboto;
            margin: 0px;
            max-height: 65px;
            line-height: 1;
        }
    }
}
